div{
	word-spacing: normal;
}

h4{
	color: #e1e2e5;
}
section{
	color: #e1e2e5;
	margin-right: auto;
	margin-left: auto;
	text-align: justify;
}
#previous{
	text-align: left;
	color: #e1e2e5;

}
#next{
	text-align: right;
		color: #e1e2e5;
}
footer{
	font-size: 20px;
}